.main-infos {
  z-index: 500;
  width: 100%;
  height: 70vh;
  position: relative;
  @media screen and (max-width: 800px) {
    width: 100vw;
  }

  .img-background {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 10% 10%;
      filter: grayscale(60%) brightness(50%);
      opacity: 0.9;
      @media screen and (max-width: 800px) {
        margin-top: -15px;
      }
      @media screen and (max-width: 500px) {
        object-position: center;
      }
    }
  }

  .infos-containt {
    position: absolute;
    height: 100%;
    width: 100vw;
    top: 0;
    padding: 30px 60px;
    display: grid;
    grid-template-columns: 25% 75%;

    @media screen and (max-width: 1050px) {
      padding: 0;
      padding-left: 30px;
    }
    @media screen and (max-width: 800px) {
      width: 90%;
    }
    @media screen and (max-width: 500px) {
      padding: 5px;
    }

    * {
      text-shadow: 1px 1px 2px rgb(0, 0, 0);
    }

    .img-movie {
      width: 300px;
      height: 450px;
      @media screen and (max-width: 1050px) {
        margin-top: 30px;
        width: 200px;
        height: 300px;
      }

      @media screen and (max-width: 800px) {
        display: none;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 5px;
      }
    }

    .details {
      color: whitesmoke;
      height: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media screen and (max-width: 1050px) {
        width: 90%;
        margin-left: 20px;
      }
      @media screen and (max-width: 800px) {
        font-size: 0.8rem;
        margin-left: 70px;
      }

      @media screen and (max-width: 500px) {
        display: flex;
        margin: 0;
        width: 95vw;
        font-size: 0.5rem;
        justify-content: center;
        align-items: center;
      }

      &.active {
        display: none;
      }

      .title-like {
        display: flex;
        @media screen and (max-width: 500px) {
          width: 90vw;
          justify-content: center;
          align-items: center;
        }
        .title {
          letter-spacing: 1px;
          margin-right: 20px;
          @media screen and (max-width: 500px) {
            font-size: 1.5rem;
          }
        }
        img {
          width: 46px;
        }

        .heart-liked {
          cursor: pointer;
          width: 44px;
          height: 46px;
          background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23DC1927"><path d="M17 4c-2.17 0-4 1.48-5 2.49C11 5.48 9.17 4 7 4a5.51 5.51 0 0 0-5.5 5.5c0 5.42 9 10.77 10 11.37a1 1 0 0 0 1 0c1-.59 10-5.95 10-11.37C22.5 6.47 20.03 4 17 4Z"></path></svg>');
          object-fit: contain;
          background-repeat: no-repeat;
        }

        .heart-NotLiked {
          cursor: pointer;
          width: 44px;
          height: 46px;
          background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23DC1927"><path d="M11.5 20.87c-1-.59-10-5.95-10-11.37C1.5 6.47 3.97 4 7 4c2.17 0 4 1.48 5 2.49C13 5.48 14.83 4 17 4c3.03 0 5.5 2.47 5.5 5.5 0 5.42-9 10.77-10 11.37a1 1 0 0 1-1 0ZM7 6a3.5 3.5 0 0 0-3.5 3.5c0 3.41 5.73 7.63 8.5 9.33 2.77-1.71 8.5-5.93 8.5-9.33A3.5 3.5 0 0 0 17 6c-2.21 0-4.18 2.58-4.2 2.6a1 1 0 0 1-1.6 0S9.21 6 7 6Z"></path></svg>');
          object-fit: contain;
          background-repeat: no-repeat;
        }
      }

      .genre-date {
        display: flex;
        text-transform: capitalize;
        margin-bottom: 10px;

        .date {
          font-weight: 400;
          letter-spacing: 0.5px;

          &:after {
            content: "• ";
          }
        }

        li {
          margin: 0 5px;
          font-weight: 400;

          &:after {
            content: "- ";
          }
        }

        .duration {
          font-weight: 400;
        }
      }

      .notation {
        margin: 15px 0;
      }

      .ba-circularBar {
        z-index: 500;
        display: flex;
        align-items: center;
        width: 50%;
        justify-content: space-between;

        @media screen and (max-width: 500px) {
          width: 90%;
        }

        .offers-providers {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;

          .show-providers {
            margin-right: 10px;
          }
        }
      }
      .bandeAnnonce-movie {
        display: flex;
        z-index: 1000;
        color: rgb(253, 253, 253);
        cursor: pointer;

        &::before {
          content: "►";
          margin-right: 3px;
        }
      }
      .tagline {
        margin-top: 10px;
        font-style: italic;
        letter-spacing: 0.5px;
        opacity: 0.8;
      }

      .synopsis-container {
        margin: 10px 0;
        @media screen and (max-width: 800px) {
          width: 300px;
        }
        @media screen and (max-width: 500px) {
          text-align: center;
        }

        h4 {
          font-size: 25px;
          font-weight: 400;
          margin-bottom: 10px;
        }
        .synopsis {
          width: 80%;
          @media screen and (max-width: 500px) {
            text-align: center;
            width: 100%;
          }
        }
      }

      .budget-recette {
        margin-top: 5px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
        width: 80%;

        @media screen and (max-width: 500px) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
        }

        .budget {
          margin-left: 30px;
          @media screen and (max-width: 500px) {
            margin: 0;
          }
        }

        h6 {
          font-size: 15px;
        }
        p {
          font-size: 15px;
        }
      }

      .crew-container {
        display: flex;
        margin-right: 50px;

        @media screen and (max-width: 500px) {
          margin: 0;
          margin-top: 10px;
        }

        .crew {
          margin-right: 20px;

          p {
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.similar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;

  .similar-movies-container {
    display: flex;
    align-items: flex-start;
    overflow-y: scroll;
    width: 80%;
    padding: 5px;

    // &::-webkit-scrollbar {
    //   display: none;
    // }
  }
  h4 {
    width: 80%;
    text-align: left;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: larger;
  }
}

.credit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;

  .credit-items {
    display: flex;
    align-items: flex-start;
    overflow-y: scroll;
    width: 80%;
    padding: 5px;
  }

  h4 {
    width: 80%;
    text-align: left;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: larger;
  }
}
