.popular-container-actors {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 40px;

  .cards-container-actors {
    margin-right: 2.5px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    margin-top: 20px;
    justify-items: center;

    @media screen and (max-width: 1050px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media screen and (max-width: 1050px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: 500px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .card-container-actors {
      margin-bottom: 20px;
      transition: 0.2s;
      cursor: pointer;
      &:hover {
        scale: 1.05;
      }
    }
  }
}
